<div class="p-3">
  <ul class="nav nav-pills">
    <li>
      <label class="border border-info text-white m-1 bg-info p-1">
        Total: {{stateService.appState.totalCount}}
      </label>
    </li>
    <li>
      <label class="border border-info text-white m-1 bg-primary p-1">
        Pages: {{stateService.appState.totalPages}}
      </label>
    </li>
    <li>
      <label class="border border-info text-white m-1 bg-success p-1">
        Size: {{stateService.appState.size}}
      </label>
    </li>
  </ul>
</div>
